{% extends "layout.html" %}

{% block content %}

<!-- Corpo -->
<div >
    <div class="top2">
        <div>
            <div class="call">As melhores receitas...</div>
            <div>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo interio.
            </div>
        </div>
        <img src="/chef.png" alt="chef">
    </div>

    <!-- CARDS mais acessados -->
    <div class="subtitle"> mais acessadas!</div>
    <section class="cards">
        <div class="card" id="asinhas">--CARD1--
            <img src="/asinhas.png" alt="">
        </div>
        <div class="card" id="burger">--CARD2--
            <img src="/burger.png" alt="">
        </div>
        <div class="card" id="doce">--CARD3--
            <img src="/doce.png" alt="">
        </div>
        <div class="card" id="espaguete">--CARD4--
            <img src="/espaguete.png" alt="">
        </div>
        <div class="card" id="lasanha">--CARD5--
            <img src="/lasanha.png" alt="">
        </div>
        <div class="card" id="pizza">--CARD6--
            <img src="/pizza.png" alt="">
        </div>
    </section>
</div>

{% endblock %}
