<!DOCTYPE html>
<html>

<link rel="stylesheet" href="styles.css">

<body >
    <!-- Cabeçalho -->
    <div class="top1">
        <img class="logo" src="/logo.png" alt="FoodFy logo" onclick="goHome()">
        <div>
            <a class="href" href="/sobre" >Sobre</a>
            <a class="href" href="/receitas" >Todas Receitas</a>
        </div>
    </div>
    
    <!-- SOBRE -->
    <section>
        <h1>SOBRE</h1>
        <div>Veniam enim mollit laboris ipsum eiusmod deserunt consequat sit aliquip eu in magna consectReprehenderit
            adipisicing nulla aliqua consectetur nulla excepteur eu sit esse eu consecteturetur. Adipisicing ea cillum
            quis ullamco. Reprehenderit quis magna nisi culpa eiusmod sunt. Et minim ea nisi non excepteur magna sint
            mollit. Velit enim id sunt nulla laboris in sit eu id. Qui tempor ipsum et deserunt magna sint eu et.</div>
        <h1>Como tudo começou...</h1>
        <div>Ad veniam sit id duis consequat tempor quis magna irure qui deserunt dolore. Pariatur ad fugiat consectetur
            aute minim consectetur anim fugiat tempor non veniam. Sunt veniam adipisicing labore consectetur aliqua
            labore est mollit non. Cupidatat proident dolor ex mollit cillum velit elit esse eu elit.Consectetur ad
            officia Lorem sunt ut sunt enim aute officia. Occaecat velit ut incididunt et commodo amet laboris. Occaecat
            occaecat dolor cupidatat dolor voluptate pariatur irure ut occaecat consectetur.Nisi cillum voluptate amet
            magna do ut eu. Sit excepteur eu nulla irure enim enim cillum quis non excepteur. Dolore anim tempor nulla
            nulla. Sit voluptate ipsum consequat consectetur id commodo quis ad. Ut amet velit laborum Lorem ipsum duis
            dolor do nisi eiusmod dolor laboris tempor. Laboris ipsum amet consequat ullamco anim consequat cupidatat
            qui duis do enim aute voluptate qui.</div>
    </section>
</body>
<script src="scripts.js"></script>

</html>